@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Blog Post Styles */
    article.blog-post {
        @apply font-light;
        @apply text-lg	;
    }

    article.blog-post p {
        @apply my-8;
    }

    article.blog-post h1 {
        @apply text-4xl;
    }

    article.blog-post h2 {
        @apply text-3xl;
    }

    article.blog-post h3 {
        @apply text-2xl;
    }

    article.blog-post h4 {
        @apply text-xl;
    }

    article.blog-post h5 {
        @apply text-lg;
    }

    article.blog-post h6 {
        @apply text-base;
    }

    // ul and ol styles
    article.blog-post ul {
        @apply list-disc;
        @apply pl-6;
    }

    article.blog-post ol {
        @apply list-decimal;
        @apply pl-6;
    }

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .left-shadow {
        box-shadow: -20px 0px 15px -15px rgba(0, 0, 0, 0.25);
    }

    a {
        @apply text-primary-500;
    }
}

@layer utilities {
    // animations
    .scale-up-center {
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @keyframes scale-up-center {
        0% {
            transform: scale(0.75);
        }
        100% {
            transform: scale(1);
        }
    }

    .slide-in-top {
        animation: slide-in-top 0.3s both;
    }

    @keyframes slide-in-top {
        0% {
            transform: translateY(-150px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

